@font-face {
  font-family: "Tabula";
  src: url(../../font/Tabula.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  font-weight: 400;
  line-height: 1.8em;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  transition: all 200ms ease;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="text"]:focus,
button[type="button"]:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

.bg img {
  width: 100%;
  display: block;
  user-select: none;
}

a.btn-default,
button.btn-default {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 1.05em 1.42em;
  margin: 6px;
  line-height: 1;
  border-radius: 50px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 3em #b61984 inset;
  background: transparent;
  transition: 0.3s all ease;
}

a.btn-default:hover,
button.btn-default:hover {
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
}

.wrapper {
  max-width: 1260px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  position: relative;
}

.title span {
  display: inline-block;
  color: #b61984;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: .6em;
  line-height: 1.2;
}

.title h2 {
  color: inherit;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.title p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.social a {
  margin-left: 0.7em;
  transition: all 100ms linear;
}

.social a i {
  font-size: 0.85em;
  color: #191919;
}

.social a i:hover {
  color: #b61984;
}

.header {
  min-height: auto;
  width: 100%;
  position: relative;
}

.header img.header-bg1 {
  top: 0;
}

.header img.header-bg2 {
  bottom: 0;
}

.header .header-main {
  position: relative;
}

.header .header-main nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-main nav .logo img {
  width: 80px;
}

.header .header-main nav .nav-links {
  display: flex;
}

.header .header-main nav .nav-links .menu {
  display: flex;
  padding-left: 50px;
}

.header .header-main nav .nav-links .menu-item {
  padding-right: 50px;
}

.header .header-main nav .nav-links .menu-item a {
  color: #191919;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  height: 80px;
  line-height: 80px;
}

.header .header-main nav .nav-links .menu-item:nth-child(2) a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  transition: 300ms ease all;
  transform: translate(-50%, -50%);
}

.header .header-main nav .nav-links .menu-item:hover a::after {
  height: 12px;
  width: 12px;
}

.header .header-main nav .nav-links .nav-widget {
  display: flex;
  align-items: center;
  height: 80px;
}

.header .header-main nav .nav-links .nav-widget .phone-call a.btn-default {
  font-size: 13.5px !important;
}

.header .header-main nav .nav-links .nav-widget .phone-call a.btn-default i {
  margin-right: 5px;
}

.header .header-main .about {
  display: flex;
  align-items: center;
  padding: 4em 0;
}

@media screen and (max-width: 1200px) {
  nav {
    display: none !important;
  }
  .nav-2 {
    display: block !important;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .nav-2 .nav-2-box {
    background: #fff;
    display: flex;
    align-items: center;
  }
  .nav-2 .nav-2-box i {
    font-size: 1.8em;
    padding: 10px 15px 10px 30px;
  }
  .nav-2 .nav-2-box img {
    width: 3em;
  }
  .about .title span {
    font-size: 15px;
  }
  .about .title h2 {
    font-size: 47.25px;
  }
  .about img {
    width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    flex-flow: column wrap;
  }
  .about .title {
    margin-top: 3em;
  }
  .about .title span {
    font-size: 15px;
  }
  .about .title h2 {
    font-size: 47.25px;
  }
  .about img {
    width: 580px;
  }
}

@media screen and (max-width: 576px) {
  .about img {
    width: 325px;
  }
}

.footer {
  position: relative;
}

.footer .footer-bg {
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
}

.footer .footer-main {
  position: relative;
  padding: 8em 0;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer .footer-main .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4em;
  flex-basis: calc(100% / 4 - 60px);
  transition: all 300ms ease-in-out;
  animation: showItem 1s both;
  opacity: 0;
}

.footer .footer-main .item h5 {
  font-size: 1.55rem;
  font-weight: 700;
  line-height: 1.2;
}

.footer .footer-main .item .text p,
.footer .footer-main .item .text a {
  color: #fff;
  font-size: 0.9rem;
  padding-right: 0.2em;
  margin-bottom: 0.2em;
  font-family: 'Roboto', sans-serif;
}

.footer .footer-main .item .text p i,
.footer .footer-main .item .text a i {
  font-size: 0.85em;
  margin-right: 1em;
}

.footer .footer-main .item .text ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.footer .footer-main .item .text ul li:last-child {
  margin-bottom: 80px;
}

.footer .footer-main .item .text ul li a {
  opacity: 1;
}

.footer .footer-main .item .text ul li a:hover {
  opacity: 0.8;
}

.footer .footer-main .item .social {
  margin-bottom: 80px;
}

.footer .footer-main .item .social a {
  margin-left: 0.7em;
  transition: all 100ms linear;
}

.footer .footer-main .item .social a:first-child {
  margin-left: 0;
}

.footer .footer-main .item .social a i {
  font-size: 0.85em;
  color: #fff;
  transition: 0.5s all;
}

.footer .footer-main .item .social a i:hover {
  color: #000;
}

.footer .footer-main .item form {
  margin: 25px 0 80px 0;
}

.footer .footer-main .item form input {
  color: #fff;
  outline: none;
  width: 100%;
  height: 3.8em;
  line-height: 1;
  padding: 1em;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: all 500ms ease;
}

.footer .footer-main .item form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.footer .footer-main .item form input:focus {
  border: 1px solid #fff;
}

.footer .footer-main .item form .btn-default {
  color: #191919;
  font-weight: 600;
  font-size: 0.8em;
  height: 4em;
  width: 100%;
  padding: 0px;
  margin: 0px;
  letter-spacing: 1px;
  box-shadow: 0 0 0 3em #fff inset;
  background: transparent;
  transition: 0.3s all ease;
}

.footer .footer-main .item form .btn-default:hover {
  color: #fff;
  box-shadow: 0 0 0 1px #fff inset;
}

.footer .footer-main .item-1 {
  animation-delay: 0s;
}

.footer .footer-main .item-2 {
  animation-delay: 0.3s;
}

.footer .footer-main .item-3 {
  animation-delay: 0.6s;
}

.footer .footer-main .item-4 {
  animation-delay: 0.9s;
}

@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .footer .footer-main .item {
    flex-basis: calc(100% / 2 - 60px);
  }
  .footer .footer-main .item .text ul {
    padding: 0;
    margin: 0;
  }
  .footer .footer-main .item form input {
    height: 3em;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer-main .item {
    flex-basis: calc(100%);
  }
  .footer .footer-main .item .text ul {
    padding: 0;
    margin: 0;
  }
  .footer .footer-main .item .text ul li:last-child {
    margin: 0;
  }
  .footer .footer-main .item form {
    margin-bottom: 130px;
  }
  .footer .footer-main .item form input {
    height: 3em;
  }
  .footer .footer-main .item .social {
    margin: 0;
  }
}

.teacher {
  background-color: #dcd1f3;
  position: relative;
}

.teacher .teacher-bg {
  bottom: 0;
}

.teacher .teacher-main {
  position: relative;
  padding-top: 2em;
  display: flex;
  width: 100%;
}

.teacher .teacher-main .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.teacher .teacher-main .content .item {
  position: relative;
  overflow: hidden;
  z-index: 5;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  border-radius: 10px;
  background-color: #fff;
  transition: all 300ms ease-in-out;
  text-align: center;
  animation: showItem 1s both;
  opacity: 0;
}

.teacher .teacher-main .content .item .text {
  padding: 20px 30px 35px 30px;
}

.teacher .teacher-main .content .item .text span {
  color: #b61984;
  font-size: 0.75rem;
  font-weight: 600;
}

.teacher .teacher-main .content .item .text h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.7em;
}

.teacher .teacher-main .content .item .text p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.7em;
}

.teacher .teacher-main .content .item .avt {
  overflow: hidden;
}

.teacher .teacher-main .content .item .avt img {
  width: 100%;
  height: 100%;
  transform: scale3d(1, 1, 1);
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}

.teacher .teacher-main .content .item .avt:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
}

.teacher .teacher-main .content .item:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.teacher .teacher-main .content .item-1 {
  animation-delay: 0s;
}

.teacher .teacher-main .content .item-2 {
  animation-delay: 0.3s;
}

.teacher .teacher-main .content .item-3 {
  animation-delay: 0.6s;
}

.teacher .teacher-main .content .item-4 {
  animation-delay: 0.9s;
}

.contact {
  position: relative;
}

.contact .contact-bg {
  bottom: 0;
}

.contact .contact-main {
  position: relative;
  padding-top: 4em;
  display: flex;
  width: 100%;
}

.contact .contact-main .contact-top {
  display: flex;
  align-items: center;
  padding: 0 70px;
  gap: 30px;
}

.contact .contact-main .contact-top img {
  padding: 0 20px;
}

.contact .contact-main .contact-top form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 40px 25px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.contact .contact-main .contact-top form h4 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.contact .contact-main .contact-top form .contact-row {
  display: flex;
  padding-bottom: 1em;
  gap: 1em;
}

.contact .contact-main .contact-top form .contact-row .contact-text {
  flex: 1 1 50%;
  max-width: 50%;
  position: relative;
}

.contact .contact-main .contact-top form .contact-row .contact-text i {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
}

.contact .contact-main .contact-top form .contact-row .contact-text input {
  position: relative;
  border-radius: 50px;
  outline: none;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  color: #191919;
  padding: 1em 1em 1em 3.5em;
  font-size: 0.8em;
  height: 3.7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
}

.contact .contact-main .contact-top form .contact-row .dropdown {
  flex: 1 1 100%;
  max-width: 100%;
  position: relative;
}

.contact .contact-main .contact-top form .contact-row .dropdown i {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1.4;
  color: #b61984;
}

.contact .contact-main .contact-top form .contact-row .dropdown i:last-child {
  left: inherit;
  right: 1em;
}

.contact .contact-main .contact-top form .contact-row .dropdown .btn-drop {
  width: 100%;
  position: relative;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  padding: 1em 1em 1em 3.5em;
  line-height: 1em;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
  overflow: hidden;
  cursor: pointer;
  height: 3.65em;
  background: transparent;
  text-align: left;
}

.contact .contact-main .contact-top form .contact-row .dropdown .dropdown-menu {
  width: 97%;
  margin-right: 1em !important;
  position: absolute;
  top: auto;
  left: 0;
  max-height: 320px;
  overflow: auto;
  border-radius: 0;
  color: #191919;
  background-color: #fff;
  transform: translate(0px, 48px) !important;
}

.contact .contact-main .contact-top form .contact-row .dropdown .dropdown-menu .dropdown-item {
  font-family: "Roboto";
  opacity: 0.9;
  font-size: 0.8em;
  padding: 0;
  padding-left: 3em;
  cursor: pointer;
  margin: 0;
  transition: 150ms ease color;
}

.contact .contact-main .contact-top form .contact-row .dropdown .dropdown-menu .dropdown-item:hover {
  color: #b61984;
  background-color: transparent;
}

.contact .contact-main .contact-top form .contact-row .textarea-form {
  position: relative;
  width: 100%;
}

.contact .contact-main .contact-top form .contact-row .textarea-form textarea {
  flex: 1 1 100%;
  max-width: 100%;
  position: relative;
  border-radius: 20px;
  height: 90px;
  padding: 1em 1em 1em 3.5em;
  line-height: 1, 5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  resize: vertical;
  transition: 0.5s all ease;
  font-family: "Roboto";
  opacity: 0.9;
  font-size: 0.8em;
}

.contact .contact-main .contact-top form .contact-row .textarea-form i {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
}

.contact .contact-main .contact-top form .contact-button {
  max-width: 150px;
  padding-top: 2em;
}

.contact .contact-main .contact-top form .contact-button button {
  position: relative;
  height: 4em;
  outline: none;
  width: 100%;
}

@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .teacher .teacher-main .content .item .text {
    padding: 20px 30px 0px 30px;
  }
  .contact .contact-main .contact-top {
    padding: 0 10px;
    gap: 20px;
  }
  .contact .contact-main .contact-top img {
    width: 505px;
  }
}

@media screen and (max-width: 768px) {
  .teacher .teacher-main .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .contact-main {
    display: block;
  }
  .contact .contact-main .contact-top {
    flex-flow: column wrap;
  }
  .contact .contact-main .contact-top img {
    width: 580px;
  }
  .contact .contact-main .contact-top form .contact-row {
    flex-flow: column wrap;
  }
  .contact .contact-main .contact-top form .contact-row .contact-text {
    flex: 0;
    max-width: 100%;
    position: relative;
  }
  .contact .contact-main .contact-top form .contact-button {
    max-width: 100%;
    padding-top: 2em;
  }
  .contact .contact-main .contact-top form .contact-button button {
    position: relative;
    height: 3.5em;
    outline: none;
    width: 100%;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 576px) {
  .teacher .teacher-main .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact .contact-main .contact-top {
    padding: 0 10px;
    gap: 20px;
  }
  .contact .contact-main .contact-top img {
    width: 325px;
  }
}
