.header {
    min-height: auto;
    width: 100%;
    position: relative;

    img.header-bg1 {
        top: 0;
    }

    img.header-bg2 {
        bottom: 0;
    }

    .header-main {
        position: relative;

        nav {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo img {
                width: 80px;
            }

            .nav-links {
                display: flex;

                .menu {
                    display: flex;
                    padding-left: 50px;
                }

                .menu-item {
                    padding-right: 50px;

                    a {
                        color: $color-text;
                        font-size: $font-size-b3-2;
                        font-weight: $p-semi-bold;
                        position: relative;
                        height: 80px;
                        line-height: 80px;
                    }


                    &:nth-child(2) {
                        a {
                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                left: 50%;
                                height: 8px;
                                width: 8px;
                                border-radius: 50%;
                                background-color: #b61984;
                                transition: 300ms ease all;
                                transform: translate(-50%, -50%)
                            }
                        }
                    }

                    &:hover {
                        a {
                            &::after {
                                height: 12px;
                                width: 12px;
                            }
                        }
                    }
                }

                .nav-widget {
                    display: flex;
                    align-items: center;
                    height: 80px;

                    .phone-call {
                        a.btn-default {
                            font-size: 13.5px !important;

                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        .about {
            display: flex;
            align-items: center;
            padding: 4em 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    nav {
        display: none !important;
    }

    .nav-2 {
        display: block !important;
        width: 100%;
        position: fixed;
        z-index: 10;

        .nav-2-box {
            background: $white;
            display: flex;
            align-items: center;

            i {
                font-size: 1.8em;
                padding: 10px 15px 10px 30px;
            }

            img {
                width: 3em;
            }
        }
    }

    .about {
        .title {
            span {
                font-size: 15px;
            }
            h2 {
                font-size: 47.25px;
            }
        }
        img {
            width: 480px;
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        flex-flow: column wrap;
        .title {
            margin-top: 3em;
            span {
                font-size: 15px;
            }
            h2 {
                font-size: 47.25px;
            }
        }
        img {
            width: 580px;
        }
    }
}

@media screen and (max-width: 576px) {
    .about {
        img {
            width: 325px;
        }
    }
}